* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EEEEEE;
}

#root {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    min-height: 100vh;
    background-color: #EEEEEE;
}

button:hover {
    cursor: pointer;
}